
div,
span {
    color: rgb(255, 0, 0);
}
/* tipos de selectores */
p{
  color: aqua;
}

#p1{    /* por selector de tipo ID, se usa bastante en JAVASCRIPDT */
    color: coral;
}

/* con el punto css va mostrar la clase */
.texto-amarillo{
    color: yellow;
}

*{  /* es el menos importante Selector Universal, para los H1 y en ITEMS, jerarquia aunque a todos les ponga color, pero si tienen color por elemento prevalecen */
    color: green;
}