
*, *::before,*::after{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}


/* header */
.barra {
    /* border: 4px solid rgb(255, 255, 255); */
    background-color:rgb(255, 255, 255);
    max-width: 200vw;
    width: auto;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:  "Akaya Kanadaka", system-ui;
}

.Titulo{
    margin-left: 12px;
    font-size: 22px;;
    font-family: "Akaya Kanadaka", system-ui;
} 


body{
    background-color: #d2d2d2b2;
    font-family: "Poppins", sans-serif;
} 



.boton{
    /* Boton de conectar */
    display: inline-block;
    margin-bottom: 10px;
/*     background-color: blueviolet; */
    color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
}

 #logo{
    width: 300px;
    height: 300px;
    }

    /* estilo redes sociales */
#f1{
    width: 30px;
    height: 30px;
    margin-left: 25px;

}

.barra .navbar ul li{
    position: relative;
    float: left; 
}


.barra .navbar ul li a{
    /*  display:block;*/
    font-size: 22px;
    margin-bottom: 25px ; 
    padding: 20px;
    align-items: center;
    color: #000000;
}
.barra .navbar ul li a:hover{
    background-color: rgba(29, 25, 255, 0.288);    
    color: #2c17e9;
}

h1{ /* tamaño de letra titulo */
    font-size: 50px;
}


 main{
    margin-left: 80px;
    margin-right: 80px;
    border: 5px solid black;
} 

.estilach{
    /* esta parte es la sombra*/
    top: 0;
    left: 0;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
}

.colortext{
    color:rgb(209, 10, 30);    
}

/* estilo de la sección de conectar inicio */
.uno{
    margin: 4px solid #c50e0e; 
    display:flex;
/*     margin-left: 25px;
    margin-right: 25px; */
    justify-content:space-evenly ;
    margin-top: 30px;
}

.boton{
    background: linear-gradient(50deg,rgb(180, 180, 180),rgb(213, 0, 181),rgb(103, 43, 255),rgb(255, 255, 255));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}


h2{
    margin: 20px 0 20px;
    justify-content: center;
    display: flex;
    
}
h2:hover{
    text-decoration-style:wavy ;
}


#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px ;
}

#vega{
width: 300px;
height: 300px;
margin-left: 40px;
}
/* 
.enlinea{
    text-align: center;
} */

.stilo{
    text-align: justify;
    margin-right: 25px ;
    
}
.vv{
    text-align: justify;
    margin-right: 25px ;
    
}


p{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px ;
}



.enlinea .chulo li{
    list-style-image: url("./cuh.png");
    margin-left: 80px;
    
  }

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
.centro{
    text-align: center;
    width: 500px;
    height: 500px;
}

.stilo2{
    margin: 50px;
    text-align: justify;
    margin-right: 25px ;
}

.imagen{
    display: block;

    margin: auto;
}

.mejore{
    margin: 50px;
    text-align: justify;
}
footer {
    text-align: center;
    padding: 50px;
    background-color: #110e0e;
    color: #ffffff;
    margin-left: 80px ;
    margin-right: 80px;
  }





/* cambiar segun el tamño de la pantalla */
@media screen and (min-width: 280px) and (max-width: 375px) { /*cuandon supere estos pixeles cambia */
    .barra{
        background-color: #ffffff;
    }
    .Titulo{
        font-size: 12px;
        color: #c50e0e;
    } 
    .barra .navbar ul li a{
        /*  display:block;*/
        font-size: 12px;
        padding: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){ /*cuandon supere estos pixeles cambia */
    .barra{
        max-width: 100vw;
    }
}

@media screen and (min-width: 1023px) { /*cuandon supere estos pixeles cambia */
    .barra{
        max-width: 100vw;
    }
}
